* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  font-size: 12px;
  
}

footer {
  background: #002a4e;
  display: flex;
  justify-content: space-between;
}

li
{
  margin-bottom: 10px;
}

li:first-child{
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-1 li:first-child{
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-1 li:last-child{
  margin-top: 20px;
  font-size: 18px;
}

.footer-1 li{
  margin-bottom: 0px;
}

.vertcal-line{
  border-left: 3px solid #ffffff;
  height: 100px;
  margin-top: 30px;

}

/* unvisited  and visited link */
a:link a:visited {
  color: #ffffff;
  text-decoration: none;
}


/* mouse over link */
a:hover {
  color red;
}

/* selected link */
a:active {
  color: blue;
}

ul {
  color: #ffffff;
}

.copy{
  display: flex;
  align-items: center;
  background: #002a4e;
  color:#ffffff;
  gap: 10px;

}