* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  font-size: 12px;
}

footer {
  background: #002a4e;
  display: flex;
  justify-content: space-between;
  height: 180px;
}

li {
  margin-bottom: 10px;
}

li:first-child {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-1 {
  width: 25%;
  margin-left: 3%;
  margin-top: 30px;
}

.footer-2,
.footer-3 {
  width: 25%;
  margin-top: 30px;
}

.social-media-icons {
  width: 25%;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 50px;
  margin-right: 3%;
}

.social-media {
  margin-right: 3%;
}

.footer-1 li:first-child {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-1 li:last-child {
  margin-top: 20px;
  font-size: 18px;
}

.footer-1 li {
  margin-bottom: 0px;
}

.vertcal-line {
  border-left: 3px solid #ffffff;
  height: 100px;
  margin-top: 70px;
  margin-right: 1%;
}

/* unvisited  and visited link */
a:link,
a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #4c82b1;
}

/* selected link */
a:active {
  color: #4c82b1;
}

ul {
  color: #ffffff;
}

.copy {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #002a4e;
  color: #ffffff;
  gap: 10px;
  height: 40px;
}

@media all and (min-width: 769px) and (max-width: 800px) {
  /* put your css styles in here */
}

@media all and (min-width: 569px) and (max-width: 768px) {
  /* put your css styles in here */
}

@media all and (min-width: 481px) and (max-width: 568px) {
  /* put your css styles in here */
}

@media all and (min-width: 321px) and (max-width: 480px) {
  /* put your css styles in here */
}

@media all and (min-width: 0px) and (max-width: 320px) {
  /* put your css styles in here */
}
