/* 
============ WHAT I DID ==================

- Wrote css for mobile, Ipad and desktop view
- Changed the vertical line to a horizontal line 
with a little animation.. I thought it was a 
little bit more subtle. If you dont like it, the old code
can still be found on Github
- Created directory for styles
- Changed directory 'loggan' to 'pictures'
so that we can store there others pictures too
*/

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

ul * {
	list-style: none;
}

/*  Mobile view  */

header {
	background-color: #002a4e;
	padding: 10px;
	display: grid;
	grid-template-areas:
		' logo right '
		'left left';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

.logo {
	grid-area: logo;
	margin: 0 1rem;
}

.left {
	grid-area: left;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
	padding-top: 0.5rem;
}

.left li {
	margin-right: 1rem;
}
.left li a {
	position: relative;
	color: #fff;
	text-decoration: none;
	padding: 3px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.5px;
}

.left li a::after {
	content: '';
	position: absolute;
	background-color: #fff;
	height: 3px;
	width: 40%;
	left: 25%;
	bottom: -10px;
	transition: 0.3s;
	border: 1px solid #fff;
}

.left li a:hover::after {
	width: 100%;
	left: 0;
}

.right {
	grid-area: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.right li a {
	color: #fff;
	border-radius: 3rem solid #fff;
	text-decoration: none;
	margin: 0 0.3rem;
	font-size: 12px;
	padding: 8px;
	font-weight: bold;
	border-radius: 3rem;
}

.right li a:hover {
	background-color: #fff;
	color: #002a4e;
}

.right .btn {
	background-color: #3057bc;
}

.right .login {
	border: 2px solid #fff;
}

/* Ipad screen */

@media screen and (min-width: 768px) {
	header {
		background-color: #002a4e;
		padding: 10px;
		display: grid;
		grid-template-areas: ' logo left left right ';
		grid-template-columns: 200px 2fr 1fr;
		grid-template-rows: auto;
	}

	.left {
		grid-area: left;
		display: flex;
		justify-content: start;
		align-items: center;
	}

	.left li a {
		padding: 3px;
		letter-spacing: 1px;
	}


}


/* Desktop screen  */

@media screen and (min-width: 992px) {
    .logo{
        padding-left: 1rem;
    }
    .left{
    
    }
    .left li a,
    .right li a {
        margin: 0 1rem;
        font-size: 13.5px;
        
    }
}