main * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}

.top {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  color: #fff;
  min-height: 25rem;
}

.img1 {
  display: block;
  position: absolute;
  height: 100%;
  width: 100vw;
  object-fit: cover;
  top: 0;
  left: 0;
}

.img-container .text-over-img {
  position: absolute;
  top: 42%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.img-container .text-over-img p {
  color: #fff;
  font-weight: bolder;
  font-size: 3rem;
}

.om-gymx,
.ledningsgrupp {
  padding: 2rem;
  margin: auto;
  width: 90%;
}

.om-gymx .titel1 {
  margin: 3rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.om-gymx p {
  font-size: 15px;
  padding-left: 5px;
}

.om-gymx .titel2 {
  margin: 2rem auto;
  font-size: 1.1rem;
  font-weight: bold;
}

.ledningsgrupp .title {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}
.ledningsgrupp ul {
  text-align: center;
}

.imgLedning {
  margin-top: 2rem;
  width: 180px;
  height: 200px;
  border-radius: 50%;
}

.ledningsgrupp .namn {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

.ledningsgrupp .jobb {
  margin-top: 0.2rem;
  font-size: 1.1rem;
  color: rgb(112, 112, 112);
}

@media (min-width: 768px) {
  .top {
    min-height: 35rem;
  }
  .img-container .text-over-img {
    top: 37%;
  }

  .img-container .text-over-img p {
    font-size: 4rem;
  }

  .ledningsgrupp ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .top {
    min-height: 40rem;
  }
  .img-container .text-over-img {
    top: 30%;
  }

  .img-container .text-over-img p {
    font-size: 5rem;
  }

  .om-gymx,
  .ledningsgrupp {
    width: 900px;
    margin: 0 auto;
    padding: 3rem;
  }

  .ledningsgrupp {
    margin-top: -.5rem;
    margin-bottom: 9rem;
  }
}
